.access-box{
    padding: 30px;
    border-radius: 40px;
    background-color: #2d2d2d;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: #fff solid 1px;
    box-shadow: #fff 0px 0px 10px 0px;
}

.user-details{
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile-icon{
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

.access-box h1{
    font-size: 40px;
}

.access-box p{
    margin: 0px;
    font-size: 24px;
}

