/* Ridimensionamento della view */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Imposta l'altezza del body a 100% della viewport */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

header, footer, .button, .dropdown-menu {
  transition: background-color 0.3s, color 0.3s;
}


/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px;
  background-color: black;
}


header h1 {
  font-size: 30px;
  color: #1ed760;
  margin: 0;
}

.theme-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 45px;
  justify-content: center;
}

.theme-icon {
  width: 24px;
  height: 24px;
}

/* Light Mode */
body.light-mode {
  background-color: #f4f4f9;
  color: #333;
}

.light-mode header {
  background-color: #fff;
  color: #1ed760;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.light-mode header h1 {
  color: #1ed760;
}

.light-mode .dropdown-menu{
  background-color: #fff;
}

.light-mode .dropdown-menu a{
  color: #333;
  font-weight: bold;
}

.light-mode .dropdown-menu a:hover{
  color: white;
}


.button.light-mode {
  background-color: #1ed760;
  color: white;
}

.button.light-mode:hover {
  background-color: #34c749;
}

.button.light-mode:active {
  background-color: #169c46 !important;
}

.account.light-mode .username {
  color: #1ed760 !important; 
}

footer.light-mode {
  background-color: #f0f0f5;
  color: #333;  
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

footer.light-mode a {
  color: #1ed760;
}

/* Dropdown Menu Light Mode */
.dropdown-menu.light-mode {
  background-color: white;
  border-color: #1ed760;
}

.dropdown-menu.light-mode a {
  color: #333;
}

.dropdown-menu.light-mode a:hover {
  background-color: #1ed760;
  color: white;
}

.light-mode .theme-icon {
  filter: invert(1);
}

.light-mode .dropdown-menu .theme-toggle::before{
  filter: invert(1);
}

/* Button */
.button {
  display: inline-block;
  background-color: #1ed760;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  margin: 0 30px;
}

.button:hover {
  background-color: #45a049;
}

.button:active {
  background-color: #169c46;
}

.button a {
  color: white;
  text-decoration: none;
}

/* Sezione dell'header con l'immagine e il nome dell'account */

label.account-label {
  display: flex;
  align-items: center;
}


.account {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account a {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.account-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
}

.username {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  color: #1ed760;
}

/* Sezione dell'header con l'immagine e il nome del brand */
.brand {
  display: inline-flex;
  align-items: center;
}

.brand img {
  width: 48px;
  height: 48px;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
  flex-direction: row-reverse;
}

footer p {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

/* Dropdown Menu */
.toggle-menu {
  display: none;
}


.dropdown-menu {
  display: none;
  position: absolute;
  right: 15px;
  top: 100%;
  background-color: black;
  border: 1px solid #1ed760;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 0px 16px 1px #3f3f3f;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

.dropdown-menu a {
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #1ed760;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #1ed760;
  color: black;
}

.dropdown-menu a:last-child {
  border-bottom: none;
}

.dropdown-menu a::before {
  content: '→';
  margin-right: 10px;
  transition: margin-right 0.3s ease;
}


.dropdown-menu a:hover::before {
  margin-right: 15px;
}

.dropdown-menu .theme-toggle {
  color: white;
  display: block;
  text-align: left;
  border-bottom: 1px solid #1ed760;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-menu .theme-toggle:hover {
  background-color: #1ed760;
  color: black;
}

.dropdown-menu .theme-toggle:last-child {
  border-bottom: none;
}

.dropdown-menu .theme-toggle::before {
  content: '→';
  margin-right: 10px;
  transition: margin-right 0.3s ease;
}


.dropdown-menu .theme-toggle:hover::before {
  margin-right: 15px;
}

.toggle-menu:checked ~ .dropdown-menu {
  display: block;
  animation: slideDown 0.3s ease-out forwards;
}

.toggle-menu:not(:checked) ~ .dropdown-menu {
  animation: slideUp 0.3s ease-out forwards;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 500px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 20px;
  }

  header.light-mode {
    background-color: #ffffff;
  }

  .button {
    width: auto;
    margin: 0 5px;
  }

  .brand img {
    width: 40px;
    height: 40px;
  }

  .brand h1 {
    font-size: 20px;
  }
}

/* Tablet Styles */
@media only screen and (max-width: 480px) {
  .button {
    font-size: 14px;
  }

  .brand img {
    width: 36px;
    height: 36px;
  }

  .brand h1 {
    font-size: 18px;
  }
}
