<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syncify</title>
    <link rel="stylesheet" href="/static/css/default.css" type="text/css">
    <link rel="stylesheet" href="/static/css/login.css" type="text/css">
    <link rel='icon' href="/static/images/icon.png">
    <script src="/static/js/default.js"></script>
  </head>
  <body>
    <header>
      <a href="../">
        <div class="brand">
          <img src="/static/images/icon.png" alt="account icon" class="account-icon">
          <h1>Syncify</h1>
        </div>
      </a>
    
      <div class="account">
        <a href="/login">
          <p class=username> Login </p>
          <img src="/static/images/account.png" alt="account icon" class="account-icon">
        </a>
      </div>
    
      <div class="theme-toggle" onclick="toggleTheme()">
        <img id="theme-icon" src="https://img.icons8.com/material-outlined/24/ffffff/moon--v1.png" alt="theme toggle icon" class="theme-icon">
      </div>
    </header>

    <div class="container">
      <h1 class="motto">Sync Your Music Seamlessly</h1>
      <p>Welcome to Syncify.<br>This site will allow you to listen to music with your friends simultaneously.<br>First log in with your Spotify account!</p>
      <div class="button">
        <a href="/auth">Get Started</a>
      </div>
    </div>

    <footer>
      <div class="reportbug-container">
        <a class="reportbug" href="/bugreport";>Contact us</a>
      </div>
    </footer>
  </body>
</html>

