<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syncify</title>
    <link rel="stylesheet" href="/static/css/default.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bugreport.css" type="text/css">
    <link rel='icon' href="/static/images/icon.png">
    <script>
      document.getElementById('bug-file').addEventListener('change', function() {
        const fileInput = this;
        const file = fileInput.files[0];
        const warningMessage = document.getElementById('file-warning');
        const submitButton = document.getElementById('submit-button');

        if (file && file.size > 25 * 1024 * 1024) { // 25 MB in bytes
          warningMessage.textContent = 'The file size exceeds 25 MB. Please choose a smaller file.';
          warningMessage.style.display = 'block';
          submitButton.disabled = true;
        } else {
          warningMessage.textContent = '';
          warningMessage.style.display = 'none';
          submitButton.disabled = false;
        }
      });
    </script>
  </head>
  <body>
    <header>
      <a href="../">
        <div class="brand">
          <img src="/static/images/icon.png" alt="account icon" class="account-icon">
          <h1>Syncify</h1>
        </div>
      </a>
      <div class="account">
        <a href="/login">
          <p class=username> Login </p>
          <img src="/static/images/account.png" alt="account icon" class="account-icon">
        </a>
      </div>
    </header>
    <div class="bug-report-container">
      <h2>Report a Bug</h2>
      <form action="/report-bug" method="post" enctype="multipart/form-data">
        <label for="bug-type">Type of Bug:</label>
        <select id="bug-type" name="bug-type" required>
          <option value="functional">Functional</option>
          <option value="visual">Visual</option>
        </select>

        <label for="bug-description">Bug Description:</label>
        <textarea id="bug-description" name="bug-description" rows="4" required></textarea>

        <label for="bug-file">Upload File (Max 25 MB):</label>
        <input type="file" id="bug-file" name="bug-file" accept="image/*,video/*" multiple required>

        <button type="submit" class="button">Submit</button>
      </form>
    </div>
    <footer>
      <p>copyright © 2023 redacted by Giulio & Deniel. The text contents of site are licensed under CC BY 4.0. </p>
    </footer>
  </body>
</html>