<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Syncify</title>
  <link rel="stylesheet" href="/static/css/default.css" type="text/css">
  <link rel="stylesheet" href="/static/css/new.css" type="text/css">
  <link rel='icon' href="/static/images/icon.png">
  <script src="/static/js/default.js"></script>
  <script src="/static/js/new.js"> </script>
</head>
<body>
  <header>
    <a href="/">
      <div class="brand">
        <img src="/static/images/icon.png" alt="account icon" class="account-icon">
        <h1>Syncify</h1>
      </div>
    </a>
    <div class="account">
      <div class="profile-container">
        <p class=username>{{ user.name }}</p>
        <img src="{{ user.image }}" alt="account icon" class="account-icon" id="profile-icon">
        <div class="dropdown-menu" id="dropdown-menu">
          <a href="{{ user.url }}" target="_blank">Profile</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="container">
      <form action="/new" onsubmit="return togglePasswordInput();" method='post'>
        <label for="name">Room Name:</label>
        <input type="text" id="name" name="name" placeholder="Room Name" required>

        <label for="userlimit">Maximum number of members:</label>
        <input type="number" id="userlimit" name="userlimit" min="2" max="5" value="5">

        <div class="queue-settings">
          <input type="checkbox" id="editablequeue" name="editablequeue" value=true>
          <label for="editablequeue">Queue editable by everyone</label>
        </div>

        <label for="visibility">Room Visibility</label>
        <select id="visibility" name="visibility" onchange="togglePasswordInput()">
          <option value="public" selected>Public</option>
          <option value="private">Private</option>
        </select>

        <div class="button-container">
          <button type="submit">Create Room</button>
        </div>
      </form>
    </div>
  </section>
  <footer>
    <p>copyright © 2023 redacted by Giulio & Deniel. The text contents of site are licensed under CC BY 4.0. </p>
  </footer>

  <script>

  </script>
</body>
</html>
