<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Syncify</title>
	<link rel="stylesheet" href="/static/css/default.css">
	<link rel="stylesheet" href="/static/css/room.css">
	<link rel='icon' href="/static/images/icon.png">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
	<script src="/static/js/default.js"></script>
	<script src="/static/js/room.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", (event) => {
			const socket = io("/room");

			const messagesContainer = document.getElementById("chat-messages");

			socket.on("new_message", function (message) {
				// Successivamente il messaggio, dopo essere stato elaborato torna al client
				// Il client aggiunge (visivamente) il messaggio alla lista dei messaggi
				// Attenzione: Se si riaggiorna la pagina, questo metodo non viene chiamato
				// per ogni messaggio ma i messaggi vengono caricati dinamicamente utilizzando flask
				const messageElement = document.createElement("div");
				messageElement.classList.add("message");
				if (message.sender.id == "{{ user.id }}") {
					messageElement.classList.add("my-message");
				} else if (message.sender.name !== "system") {
					messageElement.classList.add("other-message");
				} else {
					messageElement.classList.add("system-message");
				}
				messageElement.innerHTML = `
					<div class="sender">
						<img src="${message.sender.image}">
						<p>${message.sender.name}</p>
					</div>
					<p class="mess">${message.text}</p>
				`;
				messagesContainer.appendChild(messageElement);
				messagesContainer.scrollTop = messagesContainer.scrollHeight;
			});
		});
	</script>
</head>
<body>
	<header>
		<a href="/">
			<div class="brand">
				<img src="/static/images/icon.png" alt="account icon" class="account-icon">
				<h1>Syncify</h1>
			</div>
		</a>
		<div class="account">
			<input type="checkbox" id="toggle-menu" class="toggle-menu">
			<label for="toggle-menu" class="account-label">
				<p class="username">{{ user.name }}</p>
				<img src="{{ user.image }}" alt="account icon" class="account-icon" id="profile-icon">
			</label>
			<div class="dropdown-menu" id="dropdown-menu">
				<a href="{{ user.url }}" target="_blank">Profile</a>
				<a href="/logout">Logout</a>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="sidebar-left">
			<div>
				<h2>Now Playing</h2>
				<div class="current-song-image" id="current-song-image">
					{% if room.queue|length > 0 %}
						<img src="{{ room.queue[0].album.images[1].url }}" alt="album art">
					{% else %}
						<span></span>
					{% endif %}
				</div>
				<div class="current-song-details" id="current-song-details">
					{% if room.queue|length > 0 %}
					<span class="current-song-title" id="{{ room.queue[0].id }}">{{ room.queue[0].name }}</span>
					<span class="current-song-artists">
					{% for artist in room.queue[0].artists %}
						<a href="{{ artist.external_urls.spotify }}" target="_blank">{{ artist.name }}</a>{% if not loop.last %}, {% endif %}
					{% endfor %}
					</span>
					{% else %}
					<span class="current-song-title-placeholder"></span>
					<span class="current-song-artists-placeholder"></span>
					{% endif %}
				</div>
				<div class="controls">
					<button id="backButton" class="animate-button">
						<img src="/static/images/rewind.png" alt="Back"></button>
					<button id="playPauseButton" class="animate-button">
						{% if room.status == "playing" %}
						<img src="/static/images/pause.png" alt="Pause" id="playPauseImage"/></button>
						{% else %}
					<img src="/static/images/play.png" alt="Play" id="playPauseImage"/></button>
						{% endif %}
					<button id="skipButton" class="animate-button">
						<img src="/static/images/forward.png" alt="Next"></button>
				</div>  
				<div class="progress-bar">
					<span id="current-time">0:00</span>
					<span id="bar"><span id="bar"></span></span>
					<span id="total-time">0:00</span>
				</div>
			</div>
			{% if user.product == "premium" %}
			<div class="main-devices-container">
				<div class="devices-container">
					<div id="devices-list">
						{% for device in user.devices %}
							<div class="device" id="{{ device.id }}">
								{% if device.type == "Computer" %}
								<img src="/static/images/device-pc.png" alt="pc icon">
								{% elif device.type == "Smartphone" %}
								<img src="/static/images/device-phone.png" alt="phone icon">
								{% else %}
								<img src="/static/images/device-speaker.png" alt="speaker icon">
								{% endif %}
								<span>{{ device.name }}</span>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="arrow-wrapper">
					<div id="current-box" class="current">
						<div class="arrow-container">
							<div class="arrow arrow1 chevron1 clickable"></div>
							<h2 class="title-devices">Current device:</h2>
						</div>
						<div id="current-device">
						{% if user.current_device %}
							{% if user.current_device.type == "Computer" %}
							<img src="/static/images/device-pc.png" alt="pc icon">
							{% elif user.current_device.type == "Smartphone" %}
							<img src="/static/images/device-phone.png" alt="phone icon">
							{% else %}
							<img src="/static/images/device-speaker.png" alt="speaker icon">
							{% endif %}
							<span>{{ user.current_device.name }}</span>
						{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
		<div class="main-content">
			<div class="queue">
				<div class="header-queue">
					<h2>Playback Queue</h2>
						<div class="queue-history-buttons">
							<button class="button" id="queue-button"><p>Queue</p></button>
							<button class="button" id="history-button"><p>History</p></button>
						</div>
					</div>
					<div class="song-elements">
						<ul id="queue-list">
						{% for song in room.queue %}
						<li class="song-info" id="{{ song.id }}">
							<img class="album-art" src="{{ song.album.images[2].url }}">
							<div class="details">
								<span class="song-title">{{ song.name }}</span>
								<span class="song-artists">
								{% if song.artists|length > 1 %}
									{% for artist in song.artists %}
										<a href="{{ artist.external_urls.spotify }}" target="_blank">{{ artist.name }}</a>
										{% if not loop.last %}<p>,</p>{% endif %}
									{% endfor %}
								{% else %}
									<a href="{{ song.artists[0].external_urls.spotify }}" target="_blank">{{ song.artists[0].name }}</a>
								{% endif %}
								</span>
							</div>
							<span class="addedby-user">
								Added by:
								<a href="{{ song.addedby.url }}" target="_blank">
										<img src="{{ song.addedby.image }}" class="member-icon">
										{{ song.addedby.name }}
								</a>
							</span>
							<span class="song-duration">{{ song.duration }}</span>
						</li>
						{% endfor %}
						</ul>
						<ul id="history-list" class="hide">
							{% for song in room.history %}
							<li class="song-info" id="{{ song.id }}">
								<img class="album-art" src="{{ song.album.images[2].url }}">
								<div class="details">
									<span class="song-title">{{ song.name }}</span>
									<span class="song-artists">
										{% if song.artists|length > 1 %}
										{% for artist in song.artists %}
										<a href="{{ artist.external_urls.spotify }}" target="_blank">{{ artist.name }}</a>
										{% if not loop.last %}<p>,</p>{% endif %}
										{% endfor %}
										{% else %}
										<a href="{{ song.artists[0].external_urls.spotify }}" target="_blank">{{ song.artists[0].name }}</a>
										{% endif %}
									</span>
								</div>
								<span class="addedby-user">
									Added by:
									<a href="{{ song.addedby.url }}" target="_blank">
										<img src="{{ song.addedby.image }}" class="member-icon">
										{{ song.addedby.name }}
									</a>
								</span>
								<span class="song-duration">{{ song.duration }}</span>
							</li>
							{% endfor %}
							</ul>
					</div>
				<div class="searching-box">
					<h2>Searching your song</h2>
					<div class="result-search-box">
						<ul id='results-search-box'></ul>
					</div>
				</div>
				<div class="queue-input-div">
					<input type="text" id="queue-input" placeholder="Search or paste a Spotify song here">
					<button class="button" id="send-song"><p>Add</p></button>
				</div>
			</div>
		</div>
		<div class="sidebar-right">
			<div class="members">
				<div class="members-header">
					<h2>Members</h2>
					<div class="members-controls">
						<button class="button" onclick="copyurl('{{ room.id }}')"><p>Invite</p></button>
						<a class="button" href="/room/leave">
							<!--
							{% if user == room.creator %}
							<p>Delete</p>
							{% else %}
							<p>Leave</p>
							{% endif %}
							-->
							<p>Leave</p>
						</a>
					</div>
				</div>
				<div>
					<ul id="members-container">
						{% for member in room.members %}
							<li id="{{ member.id }}">
								<img src="{{ member.image }}" alt="account icon" class="member-icon">
								<p class="member-name">{{ member.name }}</p>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="chat">
				<h2>Chat</h2>
				<div class="chat-messages" id="chat-messages" onload="toBottom()">
					{% for message in room.chat %}
						{% if message.sender.id == user.id %}
						<div class="message my-message">
						{% elif message.sender.name != "system" %}
						<div class="message other-message">
						{% else %}
						<div class="message system-message">
						{% endif %}
							<div class="sender">
								<img src="{{ message.sender.image }}">
								<p>{{ message.sender.name }}</p>
							</div>
							<p>{{ message.text }}</p>
						</div>
						{% endfor %}
				</div>
				<div class="chat-controls">
					<input type="text" id="message-input" placeholder="Type a message...">
					<button class="button" id="send-message"><p>Send</p></button>
				</div>
			</div>
		</div>
	</div>
		</div>
	</div>
	<!--
	<footer>
		<div class="reportbug-container">
			<a class="reportbug" href="/bugreport";>Contact us</a>
		</div>
	</footer>
	-->
</body>
</html>
