<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Syncify</title>
  <link rel="stylesheet" href="/static/css/default.css" type="text/css">
  <link rel="stylesheet" href="/static/css/room.css" type="text/css">
  <link rel='icon' href="/static/images/icon.png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
  <script src="/static/js/default.js"></script>
  <script src="/static/js/room.js"></script>
  <script>
    function copyurl() {
        var input = document.createElement('input');
        var url = window.location.href;
        input.setAttribute('value', url);
        document.body.appendChild(input);
        input.select();
        var risultato = document.execCommand('copy');
        document.body.removeChild(input);
        alert('Link copiato!');
        return risultato;
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        const socket = io('/room');

        const messageInput = document.getElementById('message-input');
        const messagesContainer = document.getElementById('messages');
        const sendMessageButton = document.getElementById('send-message');

        // Gestisci l'evento 'update' ricevuto dal server
        socket.on('refresh_room', function() {
            console.log('Received update signal, reloading page...');
            window.location.reload(true);  // Ricarica la pagina
            messagesContainer.scrollTop = messagesContainer.scrollHeight;
        });

        // Gestione del clic sul pulsante di invio
        sendMessageButton.addEventListener('click', () => {
            const message = messageInput.value;
            if (message.trim()) {
                socket.emit('handle_message', {message: message, 
                                               username: '{{ user.name }}', 
                                               userid: '{{ user.id }}',
                                               userurl: '{{ user.url }}',
                                               userimage: '{{ user.image }}',
                                               roomid: '{{ room.id }}'}
                           );
                messagesContainer.scrollTop = messagesContainer.scrollHeight;
                messageInput.value = '';
            }
        });

        // Gestione della pressione del tasto Enter
        messageInput.addEventListener('keypress', (e) => {
            if (e.key === 'Enter') {
                e.preventDefault(); // Previene l'invio del modulo, se presente
                sendMessageButton.click();
            }
        });
    });
  </script>
</head>
<body>
  
  <header>
    <a href="/">
      <div class="brand">
        <img src="/static/images/icon.png" alt="account icon" class="account-icon">
        <h1>Syncify</h1>
      </div>
    </a>

    <div class="account">
      <div class="profile-container">
        <p class=username>{{ user.name }}</p>
        <img src="{{ user.image }}" alt="account icon" class="account-icon" id="profile-icon">
        <div class="dropdown-menu" id="dropdown-menu">
          <a href="{{ user.url }}" target="_blank">Profile</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
    </div>
  </header> 
  <div class="container1">
    <div class="sub-header">
      <h2><i>{{ user.name }}</i>, welcome to the room "{{ room.name }}"!</h2>
    </div>
  </div>
  <div class="main-container">
    <div class="container2">
    <div class="user-box">
      <p>Session's member:</p>
      <ul>
        {% for member in room.members %}
          <li>{{ member.name }}</li>
        {% endfor %}
      </ul>
      <div class="buttons">
        <div class="button-id">
          <button class="button" onclick="copyurl()">Invite</button>
        </div>
        <div class="button-leave">
          <a class="button" href="/room/{{ room.id }}/leave">Leave</a>
        </div>
      </div>
    </div>
    <div class="chat-box">
    <div class="screen chat-screen">
      <div class="header">
        <div class="logo">Chatroom</div>
      </div>
      <div class="messages" id="messages">
        {% for message in room.chat %}
          {% if message.sender_id == user.id %}
            <div class="message my-message">
          {% elif message.sender_name != "system" %}
            <div class="message other-message">
          {% else %}
            <div class="message session-message">
          {% endif %}
            <div class="name">{{ message.sender_name }}</div>
            <div class="text">{{ message.text }}</div>
          </div>
        {% endfor %}
      </div>
      <div class="typebox">
        <input type="text" id="message-input">
        <button id="send-message">Send</button>
      </div>   
      </div>
  </div> 
  </div>
  </div>
  
  <footer>
    <p>copyright © 2023 redacted by Giulio & Deniel. The text contents of site are licensed under CC BY 4.0. </p>
  </footer>
</body>
</html>
