<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syncify</title>
    <link rel="stylesheet" href="/static/css/default.css" type="text/css">
    <link rel="stylesheet" href="/static/css/user.css" type="text/css">
    <link rel='icon' href="/static/images/icon.png">
    <script src="/static/js/default.js"></script>
    <script src='/static/js/user.js'></script>
  </head>
  <body>
    <header>
      <a href="/">
        <div class="brand">
          <img src="/static/images/icon.png" alt="account icon" class="account-icon">
          <h1>Syncify</h1>
        </div>
      </a>
      
      <div class="account">
        <div class="profile-container">
          <p class=username>{{ user.name }}</p>
          <img src="{{ user.image }}" alt="account icon" class="account-icon" id="profile-icon">
          <div class="dropdown-menu" id="dropdown-menu">
            <a href="{{ user.url }}" target="_blank">Profile</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </header>
     
    <div class="container">
      {% if user.room %}
      <a class="button" href="/room/{{ user.room.id }}">Current Room</a>
      <a class="button" href="/room/{{ user.room.id }}/leave">Leave Room</a>
      {% else %}
      <a class="button" href="/new">Create a room</a>
      <a class="button" href="/join">Join a room</a>
      {% endif %}
    </div>

    <footer>
      <p>copyright © 2023 redacted by Giulio & Deniel. The text contents of site are licensed under CC BY 4.0. </p>
    </footer>
  </body>
</html>