/* Bug Report Container */
.bug-report-container {
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  color: white;
  width: 45%;
}

.bug-report-container h2 {
  color: #1ed760;
  text-align: center;
}

.bug-report-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.bug-report-container select,
.bug-report-container textarea,
.bug-report-container input[type="file"] {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #333;
  color: white;
  box-sizing: border-box; /* Ensure padding is included in element's total width and height */
}

.bug-report-container textarea {
  height: 250px;
  min-height: 250px;
  max-height: 335px;
  resize: vertical;
  overflow-y: auto;
}

.bug-report-container select:focus,
.bug-report-container textarea:focus,
.bug-report-container input[type="file"]:focus {
  border-color: #1ed760;
}

.bug-report-container .button {
  display: block;
  width: calc(100% - 20px); /* Adjust width to account for padding */
  margin: 1;
  background-color: #1ed760;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center; /* Ensure text is centered */
}

.bug-report-container .button:hover {
  background-color: #45a049;
}

.bug-report-container .button:active {
  background-color: #169c46;
}

.light-mode .bug-report-container {
  background-color: #ffffff; /* Sfondo chiaro per il contenitore del report */
  color: #333; /* Colore del testo del contenitore */
  border: 1px solid #ddd; /* Bordo chiaro per il contenitore */
  padding: 20px;
  border-radius: 7px; /* Bordo arrotondato per il contenitore */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}

.light-mode .bug-report-container h2 {
  color: #1db954; /* Colore del testo del titolo */
}

.light-mode form {
  background-color: #ffffff; /* Sfondo chiaro per il modulo */
  color: #333; /* Colore del testo del modulo */
  border-radius: 7px; /* Bordo arrotondato per il modulo */
}

.light-mode label {
  color: #333; /* Colore del testo delle etichette */
}

.light-mode input[type="text"],
.light-mode input[type="number"],
.light-mode select,
.light-mode textarea {
  background-color: #ffffff; /* Sfondo chiaro per gli input e textarea */
  color: #333; /* Colore del testo degli input e textarea */
  border: 1px solid #ccc; /* Bordo chiaro per gli input e textarea */
  padding: 10px;
  border-radius: 5px; /* Bordo arrotondato per gli input e textarea */
}

.light-mode button[type="submit"] {
  background-color: #1db954; /* Colore di sfondo del bottone */
  color: #ffffff; /* Colore del testo del bottone */
  border: none; /* Nessun bordo per il bottone */
  padding: 10px 20px; /* Spaziatura interna per il bottone */
  border-radius: 5px; /* Bordo arrotondato per il bottone */
  cursor: pointer; /* Cambia il cursore per indicare che è cliccabile */
}

.light-mode button[type="submit"]:hover {
  background-color: #169c3e; /* Colore di sfondo del bottone al passaggio del mouse */
}

.light-mode .bug-report-container input[type="file"]{
  filter: invert(1);
}


/* Responsive adjustments */
@media only screen and (max-width: 768px) {
  .bug-report-container {
    width: 90%;
  }
}

@media only screen and (max-width: 480px) {
  .bug-report-container {
    width: 100%;
  }
}
