/* Ridimensionamento della view */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Imposta l'altezza del body a 100% della viewport */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: white;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0px 18px 50px;
  background-color: black;
}

header h1 {
  margin-bottom: 0;
  font-size: 30px;
  color: #1ed760;
}

/* Button */
.button {
  display: inline-block;
  background-color: #1ed760;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none; /* Rimuovi il sottolineato */
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center; /* Centra il testo */
  margin: 0px 30px; /* Centra il link */
}

.button:hover {
  background-color: #45a049;
}

.button:clicked {
  background-color: #169c46;
}

.button a {
  color: white;
  text-decoration: none;
}

/* Sezione dell'header con l'immagine e il nome dell'account */
.account{
  display: flex;
  padding-right: 30px;
}

.account a {
  display: flex;
  text-decoration: none;
}

.account-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer; /* Indica che l'immagine è cliccabile */
}

.username {
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  color: #1ed760;
  display: flex;
  align-self: center;
}

/* Sezione dell'header con l'immagine e il nome del brand */
.brand {
  display: inline-flex;
}

.brand img {
  width: 48px;
  height: 48px;
}

.brand h1 {
  align-content: center;
  /*padding-top: 9px;*/
}

/* Footer */
footer {
  background-color: #3333; /* Grigio scuro per il footer */
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 15px;
  margin-top: auto; /* Spinge il footer in fondo */
}

footer p {
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 15px
}

/* Dropdown Menu */
.dropdown-menu {
  display: none; /* Nascosto di default */
  position: absolute;
  right: 30px; /* Allineato alla destra dell'immagine del profilo */
  top: 80px; /* Sotto l'immagine del profilo */
  background-color: black;
  border: 1px solid #1ed760;
  border-radius: 5px;
  z-index: 1; /* Porta il menu davanti agli altri elementi */
}

.dropdown-menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left; /* Allinea il testo a sinistra */
}

.dropdown-menu a:hover {
  background-color: #1ed760; /* Cambia il colore di sfondo al passaggio del mouse */
}

.show {
  display: block; /* Mostra il menu quando viene aggiunta la classe "show" */
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 20px;
  }

  .button {
    width: auto; /* Impostare la larghezza su auto per consentire al pulsante di ridimensionarsi in base al contenuto */
    margin: 0 5px; /* Aggiungere un margine per separare i pulsanti */
  }

  .brand img {
    width: 40px;
    height: 40px;
  }

  .brand h1 {
    font-size: 20px;
  }

}
/* Tablet Styles */
@media only screen and (max-width: 480px) {
  .button {
    font-size: 14px;
  }

  .brand img {
    width: 36px;
    height: 36px;
  }

  .brand h1 {
    font-size: 18px;
  }
}
