.container {
  display: grid;
  grid-template-columns: 20% 50% 28%;
  /*margin: 0 auto;*/
  padding-left: 1%;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  gap: 1%;
  height: 90vh;
  flex-grow: 1;
}

.container h2 {
  padding-left: 5px;
  padding-top: 5px;
}

.sidebar-left,
.main-content,
.sidebar-right {
  height: 100%;
}

.current-song,
.queue,
.members,
.chat {
  height: 100%;
  overflow-y: auto;
}



.current-song {
  border-radius: 8px;
  background-color: #2B2B2B;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 10px;
}

.current-song .placeholder {
  width: 50%;
  height: 200px;
  background-color: #1DB954;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-left: 25%;
  margin-top: 20px;
}

.current-song h2 {
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.current-song .controls {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.current-song .controls button img{
  width: 36px;
  height: 36px;
}

/* Aggiungi questo blocco al tuo file room.css */
.animate-button {
  transition: transform 0.1s;
}

.animate-button:active {
  transform: scale(0.95);
}

.current-song .controls button img.fade-out{
  opacity: 0; /* Immagine in fase di sparizione */
}

.current-song .controls button {
  padding: 0;
  margin: 0 5px;
  font-size: 16px;
  border: none;
  background: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.progress-bar {
  display: flex;
  flex-direction: row;
  gap: 2%;
  justify-content: center;
}

.bar {
  align-self: center;
  width: 70%;
  height: 5px;
  border-radius: 5px;
  background-color: #ddd;
  position: relative;
  cursor: pointer;
}

.progress {
  position: absolute;
  height: 100%;
  width: 0;
  background-color: #1DB954;
  border-radius: 5px;
}

.current-time, 
.total-time {
  color: #888;
  font-size: 12px;
  text-align: center;
}

.queue {
  border-radius: 8px;
  background-color: #2B2B2B;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Assicurati che il contenitore abbia una altezza definita se necessario */
  overflow: hidden; /* Gestisce lo scroll se necessario */
}

.queue h2 {
  padding-bottom: 10px;
  color: #FFFFFF; /* Colore del testo dell'intestazione */
}

.queue-element {
  flex: 1; /* Occupa lo spazio disponibile sopra il footer */
  overflow-y: auto; /* Aggiungi lo scroll se necessario */
}

.queue-request {
  margin-top: auto; /* Sposta questo elemento al fondo */
  display: flex;
  gap: 10px; /* Spazio tra input e bottone */
}

#queue-input {
    flex: 1; /* Occupa tutto lo spazio disponibile nella queue-request */
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #FFFFFF;
    color: #000000;
}


#send-queue {
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    border-radius: 4px;
    background-color: #1DB954;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

.song-info:hover {
    background-color: #748179; /* Colore di hover per il bottone */
}

.queue-item {
    border-radius: 8px;
    padding: 10px; /* Aggiungi padding per distanziare il contenuto dal bordo */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Allinea gli elementi all'interno dell'item */
    position: relative;
}

.song-info {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 5px;
}

.album-art {
    width: 50px; /* Dimensione dell'immagine dell'album */
    height: 50px;
    margin-right: 10px; /* Spazio tra immagine e dettagli */
    background-color: #1DB954;
    border-radius: 8px;
}

.song-title {
    display: block;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF; /* Colore del titolo della canzone */
}

.song-artist {
    display: block;
    font-style: italic;
    color: #CCCCCC; /* Colore dell'artista */
}

.song-duration {
    right: 10px; /* Spazio dal bordo destro */
    bottom: 10px; /* Spazio dal bordo inferiore */
    color: #CCCCCC; /* Colore della durata della canzone */
}

.details {
    flex: 1;
}

.sidebar-right {
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
}

.members {
  border-radius: 8px;
  background-color: #2B2B2B;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 20px;
  height: 50%;
}

.members-header{
  display: flex;
  justify-content: space-between;
}

.members-controls {
}

.button {
  text-align: center;
  margin: 0;
  
  display: inline-block;
  align-items: center;
}

.button p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.members ul {
  overflow-y: auto;
  max-height: calc(50% - 40px); /* Imposta l'altezza massima della lista dei membri a metà dell'altezza della colonna meno l'altezza dell'intestazione */
}

.members li {
  padding: 1%;
  display: flex;
}

.member-name {
  padding-left: 10px;
  align-self: center;
}

.member-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.chat {
  border-radius: 8px;
  background-color: #2B2B2B;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-controls {
  display: flex;
  padding: 10px;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 500px;
}

.chat-messages::-webkit-scrollbar {
    width: 8px;
}

.chat-messages::-webkit-scrollbar-track {
    border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: #1DB954;
    border-radius: 10px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
    background-color: #1DB954;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
}

.message p {
  word-wrap: break-word;
}

.sender {
  padding: 1%;
  display: inline-flex;
  align-self: center;
}

.sender img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.sender p {
  padding-left: 10px;
  padding-right: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}

.my-message {
  align-self: flex-end;
  background-color: #1ed760;
}

.other-message {
  align-self: flex-start;
  background-color: #5f5f5f;
}

.system-message {
  align-self: center;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#send-message {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#send-message:hover {
    background-color: #45a049;
}

@media (max-width: 1200px) {
  .container {
    display: inline;
    grid-template-columns: 100%;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
  }

  .sidebar-left,
  .main-content,
  .sidebar-right {
    height: fit-content;
    padding: 10px;
  }
  
  .chat {
    min-height: 35vh;
  }

  .chat-messages {
    max-height: 350px;
  }

  .members {
    margin-bottom: 10px;
  }

}