section {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.join-private-session {
  width: 700px;
  background-color: #121212;
  padding: 20px;
  border-radius: 7px;
  border: 3px solid #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-bottom: 25px;
}

.priv-session-title {
  margin-bottom: 20px;
}

.public-sessions {
  width: 600px;
  padding: 20px;
  border: 1px solid #1b1e1f;
  border-radius: 10px;
  background-color: #1b1e1f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  order: -1; /* Questa proprietà sposta .pubblic-sessions a sinistra */
}

.public-sessions .session-name{
  font-size: 27px;
  padding: 10px;
}

.session-name {
  font-size: 27px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #169c3e;
}

.public-sessions h2 {
  text-align: center;
  color: #b4b1a8;
  padding-bottom: 10px;
}

.nosession{
  text-align: center;
}

.headerS{
  display: flex;
  justify-content: space-between
}

.infoplusS {
    width: fit-content; /* Adatta la larghezza del contenitore al suo contenuto */

}
.infoplusS p {
    margin: 0 0 10px 0; /* Aggiunge margine inferiore per spaziatura tra i paragrafi */
    padding: 10px;
}

.footerS{
  display: flex;
  gap: 20px;
  padding: 10px;
}

.footerS p{
  align-content: center;
}

.session {
  position: relative;
  border: 1px solid #1b1e1f;
  border-radius: 8px;
  padding: 15px;
  background-color: #111212;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Spazio tra le sessioni */
}

.session-creator{
  align-content: center;
}

.session-join {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  background-color: #1db954;
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.session-join:hover {
  background-color: #169c3e;
}


input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #1db954;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 12px;
}

button[type="submit"]:hover {
  background-color: #169c3e;
}

@media (max-width: 768px) {
  .pubblic-sessions,
  .join-private-session {
    padding: 10px;
  }

  .session {
    margin-bottom: 10px;
  }
}