section{
  margin-top: 140px;
  flex-grow: 1;
}


.join-container{
  background-color: #121212;
  padding: 20px;
  border-radius: 7px; /* Riquadro con bordo arrotondato */
  border: 3px solid #333; /* Bordo nero */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Larghezza massima del form */
  margin: 0 auto; /* Centro del form nella pagina */
  margin-top: 100px; /* Spazio sopra il form */
}

.join-container, .jroom{
  display: block;
  margin-bottom: 15px;
}

input[type="text"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


button[type="submit"] {
  background-color: #1db954;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 12px; /* Aggiungiamo un margine superiore per separare il bottone dagli altri elementi */
}

button[type="submit"]:hover {
  background-color: #169c3e;
}