.user-box {
  max-height: 200px; /* Altezza massima del box */
  overflow-y: auto; /* Abilita la barra di scorrimento verticale se necessario */
}

.user-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-box ul li {
  margin-bottom: 5px; /* Spazio tra gli utenti */
}