<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Syncify</title>
  <link rel="stylesheet" href="/static/default.css" type="text/css">
  <link rel="stylesheet" href="/static/join.css" type="text/css">
</head>
<body>
  <header>
    <a href="{{ url_for('root') }}">
      <div class="brand">
        <img src="/static/images/icon.png" alt="account icon" class="account-icon">
        <h1>Syncify</h1>
      </div>
    </a>

    <div class="account">
      <a href="{{ user.url }}" target="_blank">
        <p class="username"> {{ user.name }}</p>
        <img src="{{ user.image }}" alt="account icon" class="account-icon">
      </a>
    </div>
  </header>
  <section>
  <div class="join-private-session">
    <form action="{{ url_for('join') }}" method="post">
      <h2 class="priv-session-title"">Join a private session</h2>
      <input type="text" name="session" id="session" placeholder="Session ID" required>
      <button type="submit">Join</button>
    </form>
  </div>
  <div class="pubblic-sessions">
      <h2>Public Sessions</h2>
      {% if sessions %}
        {% for key, session in sessions.items() %}
          <div class="session">
            <p>{{ session.name }}</p>
            <p>Max members: {{ session.userlimit }}</p>
            <p>Editable queue: {{ session.editablequeue }}</p>
            <p>Created by: {{ session.creator.name }}</p>
            <p>Created at: {{ session.createdate }}</p>
            <a href="/session/{{ session.id }}">Join</a>
          </div>
        {% endfor %}
      {% else %}
        <p>There are no existing public sessions!</p>
      {% endif %}
  </div>
</section>
  <footer>
    <p>copyright © 2023 redacted by Giulio & Deniel. The text contents of site are licensed under CC BY 4.0. </p>
  </footer>
</body>
</html>
