<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Syncify</title>
  <link rel="stylesheet" href="/static/default.css" type="text/css">
  <link rel="stylesheet" href="/static/session.css" type="text/css">
  <script src="session.js"></script>
</head>
<body>
  
  <header>
    <a href="{{ url_for('root') }}">
      <div class="brand">
        <img src="/static/images/icon.png" alt="account icon" class="account-icon">
        <h1>Syncify</h1>
      </div>
    </a>

    <div class="account">
      <a href="{{ userurl }}" target="_blank">
        <p class="username"> {{ username }}</p>
        <img src="{{ userimage }}" alt="account icon" class="account-icon">
      </a>
    </div>
  </header>
  
  <section>
    <h2>Benvenuto nella stanza ' {{ session_name }} ', {{ username }}!</h2>
  </section>

  <section>
    <!--
    {% for song in songs %}}
    {% endfor %}
    -->
    
  </section>
  
  <footer>
    <p>copyright © 2023 redacted by Giulio & Deniel. The text contents of site are licensed under CC BY 4.0. </p>
  </footer>
</body>
</html>
