<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syncify</title>
    <link rel="stylesheet" href="/static/default.css" type="text/css">
    <link rel="stylesheet" href="/static/user.css" type="text/css">
  </head>
  <body>
    <header>
      <a href="{{ url_for('root') }}">
        <div class="brand">
          <img src="/static/images/icon.png" alt="account icon" class="account-icon">
          <h1>Syncify</h1>
        </div>
      </a>
      
      <div class="account">
        <a href="{{ userurl }}" target="_blank">
          <p class="username"> {{ username }}</p>
          <img src="{{ userimage }}" alt="account icon" class="account-icon">
        </a>
      </div>
    </header>
     
    <div class="container">
      <a class="button" href="/new">Create a session</a>
      <a class="button" href="/join">Join a session</a>
    </div>

    <footer>
      <p>copyright © 2023 redacted by Giulio & Deniel. The text contents of site are licensed under CC BY 4.0. </p>
    </footer>
  </body>
</html>